#nav {
  background: white;
  color: rgb(13, 70, 70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  max-width: 100vw;
  position: relative;
}

#homeNavItem:hover {
  color: rgb(70, 136, 199);
  cursor: pointer;
}

#navBtn {
  outline: none;
  border: none;
  font-size: 1.2em;
  background: none;
  position: fixed;
  top: 1%;
  right: 2%;
  z-index: 10;
}

#navBtn:hover {
  cursor: pointer;
}

#navMenu {
  position: fixed;
  top: 7%;
  right: 1%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  font-size: 0.75em;
  background: radial-gradient(yellow, orange, rgb(212, 99, 6));
  animation: pulse 2s ease infinite;
  z-index: 10;
}

@keyframes pulse {
  0% {
    padding: 2rem;
  }
  50% {
    padding: 2.1rem;
  }
  100% {
    padding: 2rem;
  }
}

#navMenu > li {
  list-style: none;
}

#navMenu > li:hover {
  color: white;
  cursor: pointer;
}
