#mobileNav {
  background: rgba(5, 3, 27, 0.863);
  color: blue;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 20vw;
  margin: 2rem;
  border-radius: 50px;
}
